<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        {% if valeur_test != session['aleatoire'] %}
            {% if valeur_test < session['aleatoire'] %}
                <p>Trop petit</p>
            {% elif valeur_test > session['aleatoire'] %}
                <p>Trop grand</p>
            {% endif %}
           <form method="post" action="./">
                <label form="valeur_test">Balance ton chiffre :</label>
                <input type="text" id="valeur_test" name="valeur_test">
           </form>
        {% else %}
            <p>Tu as gagné !</p>
        {% endif %}
</body>
</html>